# Ignore environment files
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
env/

# Ignore system files
.DS_Store

# ignore data and output folders
data/classified_posts/*
data/extracted_posts/*
data/geolocated_posts/*
outputs/distribution/*
outputs/heatmap/*